node_modules/
coffee-frontend/public/img1.jpg
coffee-frontend/public/img2.jpg
coffee-frontend/public/img3.jpg
coffee-frontend/public/logo1.png
coffee-frontend/public/logo2.png
coffee-frontend/public/LOGO3.png
